.actions
  = link_to _("Contacts"), contacts_path(:contact_type => ContactType::INDIVIDUAL.id), :class => "positive"
  = link_to _("New Individual"), new_individual_path
  = link_to _("New Organization"), new_organization_path 
  = link_to _("New Household"), new_household_path
%hr/                                              
.actions
  = link_to _("Activities"), activities_path, :class => "positive"
  = link_to _("New Activity"), new_activity_path
%hr/                                              
.actions
  = link_to _("Academic Levels"), academic_levels_path, :class => "positive"
  = link_to _("Activity Types"), activity_types_path, :class => "positive"
  = link_to _("Education Levels"), education_levels_path, :class => "positive"
  = link_to _("Entry Terms"), entry_terms_path, :class => "positive"
  = link_to _("Ethnicities"), ethnicities_path, :class => "positive"
  = link_to _("Genders"), genders_path, :class => "positive"
  = link_to _("Greetings"), greetings_path, :class => "positive"
  = link_to _("Location Types"), location_types_path, :class => "positive"
  = link_to _("Marital Statuses"), marital_statuses_path, :class => "positive"
  = link_to _("Messaging Providers"), messaging_providers_path, :class => "positive"
  = link_to _("Mobile Providers"), mobile_providers_path, :class => "positive"
  = link_to _("Name Prefixes"), name_prefixes_path, :class => "positive"
  = link_to _("Name Suffixes"), name_suffixes_path, :class => "positive"
  = link_to _("Phone Types"), phone_types_path, :class => "positive"
  = link_to _("Programs"), programs_path, :class => "positive"
  = link_to _("Sources"), sources_path, :class => "positive"
  = link_to _("Stages"), stages_path, :class => "positive" 
  = link_to _("Statuses"), statuses_path, :class => "positive"   
%hr/   
- if !RubyCampus.demo
  - nil      
- else
  = content_tag(:div,"Additional actions are intentionally removed from the demo passed this point unless considered stable.", :class => "notice")
  = content_tag(:div,"Help us shape the future and let us know what features you'd like to see included.", :class => "notice")