.actions
  = link_to _("Contacts"), contacts_path(:contact_type => ContactType::INDIVIDUAL.id), :class => "positive"
  = link_to _("New Individual"), new_individual_path
  = link_to _("New Organization"), new_organization_path 
  = link_to _("New Household"), new_household_path
%hr/
- if !RubyCampus.demo
  .actions
    = link_to _("Activities"), activities_path, :class => "positive"
    = link_to _("New Activity"), new_activity_path      
- else
  = content_tag(:div,"Additional actions are intentionally removed from the demo passed this point unless considered stable.", :class => "notice")
  = content_tag(:div,"Help us shape the future and let us know what features you'd like to see included.", :class => "notice")