- title((I18n.t(current_controller_gettext_human_name_pluralized, :default => current_controller_gettext_human_name_pluralized)))
.standard_box
  .hako
    =# render :partial => "common/actions/for_form_index"
    %h2= yield(:title)
    %h3= context_help(I18n.t("Mailing mixins are used by the RubyCampus mailer to define headers, footers and automatic messages. You can use live search to locate mailing mixins and can sort by clicking on column labels.", :default => "Mailing mixins are used by the RubyCampus mailer to define headers, footers and automatic messages. You can use live search to locate mailing mixins and can sort by clicking on column labels."))
    %p
      %form{ :name => "rubycampus", :action => "", :class => "hakozaki", :autocomplete => :off }
        %label{ :for => "mailing_mixin_name", :class => "w35 inputselect"}
          %span.wrapper
            %span.title= I18n.t("Filter on {{value}} name:", :default => "Filter on {{value}} name:", :value => current_controller_gettext_human_name)
            = text_field_tag("query", params['query'], :class => "field") 
        .clear  
    = observe_field 'query', :frequency => 2, :update => 'table', :before => "Element.show('spinner')", :success => "Element.hide('spinner')", :url => { :action => 'index' }, :with => 'query'   
    %div#table
      = render :partial => "mailing_mixins"
    =# render :partial => "common/actions/for_form_index"   