%label{:for => "announcement_message", :class => "w100 inputselect mandatory"}
  %span.wrapper
    %span.title= _("Message")
    = form.text_area :message, {:class => "field"} 
%label{:for => "announcement_starts_at", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Starts At") 
    = form.calendar_date_select :starts_at, :valid_date_check => "date >= (new Date()).stripTime()", :popup => :force, :class => "field"
%label{:for => "announcement_ends_at", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Ends At") 
    = form.calendar_date_select :ends_at, :valid_date_check => "date >= (new Date()).stripTime()", :popup => :force, :class => "field"
.clear                                                           