- title((_(current_controller_gettext_human_name_pluralized)))  
.action_buttons
  = link_to 'New announcement', new_announcement_path   

%h1= yield(:title)

%table
  %tr
    %th= _("Message")
    %th= _("Starts at")
    %th= _("Ends at")
    %th

    - for announcement in @announcements
      %tr
        %td=h announcement.message
        %td=h announcement.starts_at
        %td=h announcement.ends_at
        %td
          = render :partial => "common/actions/for_row_index", :locals => { :local => announcement }
%div.pagination= will_paginate @announcements     