- title((_(current_controller_gettext_human_name_pluralized)))
.standard_box
  .hako
    = render :partial => "common/actions/for_form_index"
    %h2= yield(:title)
    %h3= context_help(_("Use announcements to broadcast application-wide messages that will appear on the top of every authenticated users browser. Users may choose to hide the message after they have read it. You can use live search to locate announcements and can sort by clicking on column labels. %{learn_more}"))
    %p
      %form{ :name => "rubycampus", :action => "", :class => "hakozaki" }
        %label{ :for => "announcement_message", :class => "w35 inputselect"}
          %span.wrapper
            %span.title= _("Find an %s:") % current_controller_gettext_human_name
            = text_field_tag("query", params['query'], :class => "field", :autocomplete => "off")
        .clear
    = observe_field 'query', :frequency => 2, :update => 'table', :before => "Element.show('spinner')", :success => "Element.hide('spinner')", :url => { :action => 'index' }, :with => 'query'
    %div#table
      = render :partial => "announcements"
    = render :partial => "common/actions/for_form_index"
