- title((I18n.t("New {{value}}", :default => "New {{value}}", :value => current_controller_gettext_human_name)))
= error_messages_for :announcement 
.standard_box
  .hako
    - form_for(@announcement, :html => { :class => "hakozaki" }) do |form|
      = render :partial => "common/actions/for_form_new"
      %h1= yield(:title)
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "common/actions/for_form_new"