- title(Setting.site_title_login,"login")
.span-12.push-6
  .login_box
    .hako
      - form_tag session_path, { :class => "hakozaki", :autocomplete => :off } do
        %h1= yield(:title)
      
        %label{ :for => "login", :class => "w100 inputselect mandatory" }
          %span.wrapper
            %span.title= I18n.t("Login", :default => "Login")
          = text_field_tag 'login', nil, :class => "field"     
        .clear
      
        %label{ :for => "password", :class => "w100 inputselect mandatory" }
          %span.wrapper
            %span.title= I18n.t("Password", :default => "Password")
          = password_field_tag 'password', nil, :class => "field"
        .clear
        .clear
        .buttons
          %button{:type => "submit", :class => ""}
            = I18n.t("Log in", :default => "Log in")        
        = check_box_tag 'remember_me'
        = I18n.t("Remember me", :default => "Remember Me")
        = #link_to I18n.t("Sign Up"), new_user_path
        = link_to I18n.t("Forgot Password?", :default => "Forgot Password?"), forgot_password_path   
  

