%fieldset
  %legend= _("Manage")
  .span-3= link_to _('Announcements'), announcements_path
  .span-3.last= link_to _('Users'), users_path
%fieldset
  %legend= _("Options Lists")   
  .span-3= link_to _("Academic Levels"), academic_levels_path 
  .span-3= link_to _("Activity Types"), activity_types_path
  .span-3= link_to _("Education Levels"), education_levels_path    
  .span-3= link_to _("Entry Terms"), entry_terms_path 
  .span-3= link_to _("Ethnicities"), ethnicities_path 
  .span-3.last= link_to _("Genders"), genders_path 
  .span-3= link_to _("Greetings"), greetings_path 
  .span-3= link_to _("Location Types"), location_types_path 
  .span-3= link_to _("Marital Statuses"), marital_statuses_path 
  .span-3= link_to _("Messaging Providers"), messaging_providers_path 
  .span-3= link_to _("Mobile Providers"), mobile_providers_path 
  .span-3.last= link_to _("Name Suffixes"), name_suffixes_path 
  .span-3= link_to _("Phone Types"), phone_types_path 
  .span-3= link_to _("Programs"), programs_path
  .span-3= link_to _("Sources"), sources_path 
  .span-3= link_to _("Stages"), stages_path 
  .span-3.last= link_to _("Statuses"), statuses_path    
%hr/
