- form_tag({:action => 'edit'}, :class => "hakozaki") do
  %h2= _("%s Settings") % _("Facebook")
  = context_help(_("RubyCampus has the ability to utilize the Facebook API to gather social information. %{learn_more}"))
  = label_for_setting :setting => :facebook_enabled, :input_type => :radiocheck, :width => "w25"
  = label_for_setting :setting => :facebook_api_key, :width => "w75"
  .clear  
  = label_for_setting :setting => :facebook_canvas_page_name, :width => "w50"
  = label_for_setting :setting => :facebook_callback_url, :width => "w50"
  .clear
  %hr/   
  %h2= _("%s Settings") % _("Moodle e-Learning Platform")
  = context_help(_("RubyCampus can import Moodle users as contacts and keep their details current. %{learn_more}"))
  = label_for_setting :setting => :moodle_enabled, :input_type => :radiocheck, :width => "w20"
  = label_for_setting :setting => :moodle_table_prefix, :width => "w25"
  = label_for_setting :setting => :moodle_contact_table, :width => "w40"
  %label{:for => "setting_moodle_version", :class => "w15 inputselect"}
    %span.wrapper
      %span.title
        = _("%s Version") % _("Moodle")
        %br/
      = select_tag 'settings[moodle_version]', options_for_select(['1.9.2','1.9.2+'], Setting.moodle_version)
  .clear
  = label_for_setting :setting => :moodle_database_user, :width => "w35"
  = label_for_setting :setting => :moodle_database_password, :input_type => :inputselect_password, :width => "w35"
  = label_for_setting :setting => :moodle_database_socket, :width => "w30"
  .clear 
  %hr/
  %h2= _("%s Settings") % _("Sakai CLE")
  = context_help(_("RubyCampus can import Sakai users as contacts and keep their details current. %{learn_more}"))
  = label_for_setting :setting => :sakai_enabled, :input_type => :radiocheck, :width => "w20"
  = label_for_setting :setting => :sakai_table_prefix, :width => "w20"
  = label_for_setting :setting => :sakai_contact_table, :width => "w30"
  %label{:for => "setting_sakai_version", :class => "w15 inputselect"}
    %span.wrapper
      %span.title
        = _("%s Version") % _("Sakai")
        %br/
      = select_tag 'settings[sakai_version]', options_for_select(['2.5.3'], Setting.sakai_version)
  %label{:for => "setting_sakai_database_adapter", :class => "w15 inputselect"}
    %span.wrapper
      %span.title
        = _("Database")
        %br/
      = select_tag 'settings[sakai_database_adapter]', options_for_select(['MySQL 5.0'], Setting.sakai_database_adapter) 
  .clear
  = label_for_setting :setting => :sakai_database_user, :width => "w35"
  = label_for_setting :setting => :sakai_database_password, :input_type => :inputselect_password, :width => "w35"
  = label_for_setting :setting => :sakai_database_socket, :width => "w30"
  .clear
  %hr/
  = render :partial => "common/actions/for_form_button_save"