- form_tag({:action => 'edit', :tab => 'notifications'}, :class => "hakozaki") do   
  %loud= context_help(_("If you are sending emails to contacts using RubyCampus then you need provide settings for your SMTP server. If you're unsure of the correct values, check with your system administrator, ISP or hosting provider. %{learn_more}")) 
  = label_for_setting :setting => :email_server_enabled, :input_type => :radiocheck, :width => "w25"
  = label_for_setting :setting => :email_server_smtp_address
  = label_for_setting :setting => :email_server_smtp_port
  = label_for_setting :setting => :email_server_smtp_domain
  = label_for_setting :setting => :email_server_smtp_user_name
  = label_for_setting :setting => :email_server_smtp_password, :input_type => :inputselect_password 
  %hr/
  = render :partial => "common/actions/for_form_button_save" 
