%label{:for => "mobile_provider_name", :class => "w25 inputselect mandatory"}
  %span.wrapper
    %span.title
      = _("Name") 
    = form.text_field :name, :class => "field"
%label{:for => "mobile_provider_is_default", :class => "w25 inputselect"}
  %span.wrapper
    %span.title
      = _("Is default") 
    = form.check_box :is_default, :class => "field"
%label{:for => "mobile_provider_is_enabled", :class => "w25 inputselect"}
  %span.wrapper
    %span.title
      = _("Is enabled") 
    = form.check_box :is_enabled, :class => "field"
.clear
= render :partial => "common/jackets/for_revisable", :locals => {:model => @mobile_provider}
