- if @total == 0
  .no_data{:style=>"text-align:center;"}= _("No %s Found") % current_controller_gettext_human_name_pluralized
- else
  %table
    %tr
      %th{ :class => (sort_th_class_helper 'name') }
        = sort_link_helper _("Name"), 'name'
      %th{ :class => (sort_th_class_helper 'is_default') }
        = sort_link_helper _("Default"), 'is_default'
      %th{ :class => (sort_th_class_helper 'is_enabled') }
        = sort_link_helper _("Enabled"), 'is_enabled'
      %th
    - @statuses.each do |status|
      %tr{:class => cycle('even','odd')}
        %td=h status.name
        %td=h status.is_default ? _('Yes') : _('No')
        %td=h status.is_enabled ? _('Yes') : _('No')
        %td= render :partial => "common/actions/for_row_index_no_show", :locals => { :local => status }
  - if @statuses_pages.page_count > 1
    %div.pagination
      = pagination_links_remote @statuses_pages