- if @total == 0
  .no_data{:style=>"text-align:center;"}= _("No %s Found") % current_controller_gettext_human_name_pluralized
- else
  %table
    %tr
      %th{ :class => (sort_th_class_helper 'name') }
        = sort_link_helper _("Name"), 'name'
      %th{ :class => (sort_th_class_helper "external_identifier") }
        = sort_link_helper _("External identifier"), "external_identifier"
      %th{ :class => (sort_th_class_helper "description") }
        = sort_link_helper _("Description"), "description"        
      %th{ :class => (sort_th_class_helper 'is_default') }
        = sort_link_helper _("Default"), 'is_default'
      %th{ :class => (sort_th_class_helper 'is_enabled') }
        = sort_link_helper _("Enabled"), 'is_enabled'
      %th{ :class => (sort_th_class_helper 'is_reserved') }
        = sort_link_helper _("Reserved"), 'is_reserved'
      %th
    - @programs.each do |program|
      %tr{:class => cycle('even','odd'), :style => "#{'color: #f80a12;' unless program.is_enabled}"}
        %td=h program.name
        %td=h program.external_identifier
        %td=h program.description                
        %td=h program.is_default ? _('Yes') : _('No')
        %td=h program.is_enabled ? _('Yes') : _('No')
        %td=h program.is_reserved ? _('Yes') : _('No')
        %td= render :partial => "common/actions/for_row_index_toggle_lookup", :locals => { :local => program }
  - if @programs_pages.page_count > 1
    %div.pagination
      = pagination_links_remote @programs_pages