- title((_("Editing %s") % current_controller_gettext_human_name))
= error_messages_for :program  
.standard_box
  .hako
    - form_for @program, :url => program_path, :html => { :method => :put, :class => "hakozaki", :autocomplete => :off } do |form|     
      = render :partial => "common/actions/for_form_edit"
      %h1= yield(:title)
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "common/actions/for_form_edit"
