%label{:for => "message_template_name", :class => "w50 inputselect"}
  %span.wrapper
    %span.title= _("Name") 
    = form.text_field :name, :class => "field" 
%label{:for => "message_template_is_enabled", :class => "w25 radiocheck"}
  %span.wrapper
    %br/ 
    = form.check_box :is_enabled, :class => "select" 
    %span.title= _("Is active")
.clear

%label{:for => "message_template_subject", :class => "w50 inputselect"}
  %span.wrapper
    %span.title= _("Subject") 
    = form.text_field :subject, :class => "field"
.clear

%label{:for => "message_template_text", :class => "w100 inputselect"}
  %span.wrapper
    %span.title= _("Text") 
    = form.text_area :text, :class => "field"
.cleqr

%label{:for => "message_template_html", :class => "w100 inputselect"}
  %span.wrapper
    %span.title= _("Html") 
    = form.text_area :html, :class => "field"
.clear


