- if @total == 0
  .no_data{:style=>"text-align:center;"}= I18n.t("No {{value}} Found", :default => "No {{value}} Found", :value => current_controller_gettext_human_name_pluralized)
- else
  %table
    %tr
      %th{ :class => (sort_th_class_helper 'name') }
        = sort_link_helper I18n.t("Name", :default => "Name"), 'name'
      %th{ :class => (sort_th_class_helper "subject") }
        = sort_link_helper I18n.t("Subject", :default => "Subject"), "subject"
      %th{ :class => (sort_th_class_helper 'is_enabled') }
        = sort_link_helper I18n.t("Enabled", :default => "Enabled"), 'is_enabled'
      %th{ :class => (sort_th_class_helper "updated_at") }
        = sort_link_helper I18n.t("Last Updated", :default => "Last Updated"), "updated_at"
      %th
    - @message_templates.each do |message_template|
      %tr{:class => cycle('even','odd'), :style => "#{'color: #f80a12;' unless message_template.is_enabled}"}
        %td=h message_template.name
        %td=h message_template.subject
        %td=h message_template.is_enabled ? I18n.t("Yes", :default => "Yes") : I18n.t("No", :default => "No")
        %td{:style => "vertical-align:top;"}
          = h (I18n.t("{{value}} ago", :default => "{{value}} ago", :value => distance_of_time_in_words(Time.now, (message_template.updated_at)))) rescue nil
        %td= render :partial => "common/actions/for_row_index_toggle_lookup", :locals => { :local => message_template }
  - if @message_templates_pages.page_count > 1
    %div.pagination
      = pagination_links_remote @message_templates_pages