- if @total == 0
  .no_data{:style=>"text-align:center;"}= _("No %s Found") % current_controller_gettext_human_name_pluralized
- else
  %table
    %tr
      %th{ :class => (sort_th_class_helper "name") }
        = sort_link_helper _("Name"), "name"
      %th{ :class => (sort_th_class_helper "subject") }
        = sort_link_helper _("Subject"), "subject"
      %th{ :class => (sort_th_class_helper "is_enabled") }
        = sort_link_helper _("Is Enabled"), "is_enabled"
      %th{ :class => (sort_th_class_helper "updated_at") }
        = sort_link_helper _("Last Updated"), "updated_at"
      %th
    - @message_templates.each do |message_template|
      %tr{:class => cycle("even","odd")}
        %td=h message_template.name
        %td=h message_template.subject
        %td=h message_template.is_enabled ? _('Yes') : _('No')
        %td{:style => "vertical-align:top;"}
          = h (_("%s ago") % distance_of_time_in_words(Time.now, (message_template.updated_at))) rescue nil
        %td= render :partial => "common/actions/for_row_index", :locals => { :local => message_template }
  - if @message_templates_pages.page_count > 1
    %div.pagination
      = pagination_links_remote @message_templates_pages