- title((_("Editing %s") % current_controller_gettext_human_name))
= error_messages_for :message_template  
.standard_box
  .hako
    - form_for @message_template, :url => message_template_path, :html => { :method => :put, :class => "hakozaki" } do |form|     
      = render :partial => "common/actions/for_form_edit"
      %h1= yield(:title)
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "common/actions/for_form_edit"
