- title((I18n.t("Creating {{value}}", :default => "Creating {{value}}", :value => current_controller_gettext_human_name)))
= error_messages_for :message_template 
.standard_box
  .hako
    - form_for @message_template, :url => message_templates_path, :html => { :method => :post, :class => "hakozaki" } do |form|
      = render :partial => "common/actions/for_form_new"  
      %h1= yield(:title)
      %hr/
      = render :partial => "form", :locals => {:form => form}
      %hr/
      = render :partial => "common/actions/for_form_new"   