%label{:for => "greeting_name", :class => "w25 inputselect"}
  %span.wrapper
    %span.title
      = I18n.t("Name", :default => "Name") 
    = form.text_field :name, :class => "field"
%label{:for => "greeting_is_default", :class => "w25 inputselect"}
  %span.wrapper
    %span.title
      = I18n.t("Is default", :default => "Is default") 
    = form.check_box :is_default, :class => "field"
%label{:for => "greeting_is_enabled", :class => "w25 inputselect"}
  %span.wrapper
    %span.title
      = I18n.t("Is enabled", :default => "Is enabled") 
    = form.check_box :is_enabled, :class => "field"
.clear
= render :partial => "common/jackets/for_revisable", :locals => {:model => @greeting}
