- title((I18n.t("Creating {{value}}", :default => "Creating {{value}}", :value => current_controller_gettext_human_name)))
= error_messages_for :greeting 
.standard_box
  .hako
    - form_for @greeting, :url => greetings_path, :html => { :method => :post, :class => "hakozaki", :autocomplete => :off } do |form|
      = render :partial => "common/actions/for_form_new"  
      %h1= yield(:title)
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "common/actions/for_form_new"   