- title((I18n.t(current_controller_gettext_human_name_pluralized, :default => current_controller_gettext_human_name_pluralized)))
.standard_box
  .hako
    = render :partial => "common/actions/for_form_index"
    %h2= yield(:title)
    %h3= context_help(I18n.t("Use groups to organize contacts, e.g., these contacts are 'Incoming Freshman'. You can use live search to locate groups and can sort by clicking on column labels.", :default => "Use groups to organize contacts, e.g., these contacts are 'Incoming Freshman'. You can use live search to locate groups and can sort by clicking on column labels."))
    %p
      %form{ :name => "rubycampus", :action => "", :class => "hakozaki", :autocomplete => :off }
        %label{ :for => "group_name", :class => "w35 inputselect"}
          %span.wrapper
            %span.title= I18n.t("Find a {{value}} name:", :default => "Find a {{value}} name:", :value => current_controller_gettext_human_name.downcase)
            = text_field_tag("query", params['query'], :class => "field")
        .clear
    = observe_field 'query', :frequency => 2, :update => 'table', :before => "Element.show('spinner')", :success => "Element.hide('spinner')", :url => { :action => 'index' }, :with => 'query'
    %div#table
      = render :partial => "groups"
    = render :partial => "common/actions/for_form_index"
