- title(_("Add Contacts to %{group}") % { :group => @group.name.titleize })
.standard_box
  .hako
    %h2= yield(:title)
    %h3.quiet= _("Use the search form to find contacts to add to the %{group} group. Mark the checkbox of contacts you want to add then click on the 'Add Contacts' button.") % { :group => @group.name.titleize }
    - form_tag search_groups_path, :method => :get, :class => "hakozaki", :autocomplete => :off  do
      = hidden_field_tag(:id, params[:id] || @group)
      .buttons
        %button{:type => "submit", :class => "positive"}
          = _("Search")
      %label{:for => "group_contact_type", :class => "w30 inputselect"}
        %span.wrapper
          %span.title
          = _("Find")
          %span.example= _("contact types")
          = select_tag("contact_type", options_for_select(ContactType.find(:all).collect {|p| [ p.name, p.id ] }), :class => "field")
      = # TODO Implement group selection
      = # _("in")
      = # select_tag("group", options_for_select(Group.find(:all).collect {|p| [ p.name, p.id ] }))
      %label{:for => "group_contact_name", :class => "w50 inputselect mandatory"}
        %span.wrapper
          %span.title
            = _("and/or contact name")
            %span.example= _("partial or full name")
          = text_field_tag(:search, nil, :class => "field")
      .clear
  - form_tag add_groups_path, :html => { :method => :put, :class => "hakozaki", :autocomplete => :off } do
    %table
      %tr
        %th.small= _("Name")
        = content_tag(:th, _("Entry Term"), :class => "small" ) unless params[:contact_type].to_i != ContactType::INDIVIDUAL.id
        = content_tag(:th, _("Program"), :class => "small" ) unless params[:contact_type].to_i != ContactType::INDIVIDUAL.id
        %th.small= _("Contact")
        %th.small= _("Last Updated")
        %th
      = render :partial => 'contacts/contact', :collection => @contacts
    = hidden_field_tag(:id, params[:id] || @group)
    .buttons
      %button{:type => "submit", :class => "positive"}
        = _("Add Contacts")
    %div.pagination= will_paginate @contacts