%label{:for => "contact_phonetic_last_name", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Phonetic Last Name")
    = form.text_field :contact_phonetic_last_name, :class => "form_text"
%label{:for => "contact_phonetic_first_name", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Phonetic First Name")
    = form.text_field :contact_phonetic_first_name, :class => "form_text"
%label{:for => "contact_phonetic_middle_name", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Phonetic Middle Name")
    = form.text_field :contact_phonetic_middle_name, :class => "form_text"
.clear
     