%h2= ("Enrollment Information")
%label{:for => "contact_stage_id", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Stage")
    = text_field_with_auto_complete :presenter, :contact_stage_name, { :class => "field" }, { :url => formatted_lookup_stages_path(:js), :method => :get, :skip_style => true, :with => "'search=' + element.value" }
%label{:for => "contact_entry_term_id", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Entry Term")
    = text_field_with_auto_complete :presenter, :contact_entry_term_name, { :class => "field" }, { :url => formatted_lookup_entry_terms_path(:js), :method => :get, :skip_style => true, :with => "'search=' + element.value" }
%label{:for => "contact_academic_level_id", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Academic Level")
    = text_field_with_auto_complete :presenter, :contact_academic_level_name, { :class => "field" }, { :url => formatted_lookup_academic_levels_path(:js), :method => :get, :skip_style => true, :with => "'search=' + element.value" }
%label{:for => "contact_education_level_id", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Education Level")
    = text_field_with_auto_complete :presenter, :contact_education_level_name, { :class => "field" }, { :url => formatted_lookup_education_levels_path(:js), :method => :get, :skip_style => true, :with => "'search=' + element.value" }
.clear

%hr/