%tr
  %td[individual]
    = h individual.last_name
  %td
    = h individual.first_name
  %td
    = h individual.updated_at   
  %td
    = link_to _("Show"), individual_path(individual)
    |
    = link_to _("Edit"), edit_individual_path(individual)
    |
    = link_to _("Destroy"), individual_path(individual), :confirm => _("Really destroy Individual?"), :method => :delete
