- title((_("Editing %s") % _("Individual")))
= error_messages_for :presenter  
.individual_box
  .hako
    - form_for @presenter, :url => individual_url, :html => { :multipart => true, :method => :put, :class => "hakozaki" } do |form|     
      = render :partial => "contacts/actions/for_form_edit"
      %h1= yield(:title)
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "contacts/actions/for_form_edit"

