= error_messages_for :user
.standard_box
  .hako 
    - form_for :user, :url => user_path(@user), :html => { :method => :put, :class => "hakozaki", :autocomplete => :off } do |form|
      .buttons
        %button{:type => "submit", :class => "positive"}
          = _("Save")
        = link_to _('Change Password'), change_password_path
        = link_to _('Show Profile'), user_path(@user)
      %h2= _("Edit Your Account")
      %hr/      
      = render :partial => "form", :locals => {:form => form}