.standard_box
  .hako
    .buttons
      = link_to I18n.t("Change Password", :default => "Change Password"), change_password_path
      = link_to I18n.t("Update Profile", :default => "Update Profile"), edit_user_path(current_user)
    %h2= h "#{@user.name} (#{@user.login})"     
  %hr/
  %h3= I18n.t("Joined on: {{value}}", :default => "Joined on: {{value}}", :value => @user.created_at.to_s(:long))
  %h3= I18n.t("Time Zone: {{value}}", :default => "Time Zone: {{value}}", :value => @user.time_zone)
  %h3= I18n.t("Locale: {{value}}", :default => "Locale: {{value}}", :value => @user.language)