.standard_box
  .hako
    .buttons
      = link_to _('Change Password'), change_password_path
      = link_to _('Update Profile'), edit_user_path(current_user)
      = link_to _('Announcements'), announcements_path unless !current_user.is_admin
    %h2= h "#{@user.name} (#{@user.login})"     
  %hr/
  %h3= _("Joined on: %s") % (@user.created_at.to_s(:long))
  %h3= _("Time Zone: %s") % (h @user.time_zone)
  %h3= _("Language: %s") % (locale)
