- if @total == 0
  .no_data{:style=>"text-align:center;"}= _("No %s Found") % current_controller_gettext_human_name_pluralized
- else
  %table
    %tr
      %th{ :class => (sort_th_class_helper 'name') }
        = sort_link_helper _("Name"), 'name'
      %th{ :class => (sort_th_class_helper 'is_default') }
        = sort_link_helper _("Default"), 'is_default'
      %th{ :class => (sort_th_class_helper 'is_enabled') }
        = sort_link_helper _("Enabled"), 'is_enabled'
      %th
    - @activity_types.each do |activity_type|
      %tr{:class => cycle('even','odd'), :style => "#{'color: #f80a12;' unless activity_type.is_enabled}"}
        %td=h activity_type.name
        %td=h activity_type.is_default ? _('Yes') : _('No')
        %td=h activity_type.is_enabled ? _('Yes') : _('No')
        %td= render :partial => "common/actions/for_row_index_toggle_lookup", :locals => { :local => activity_type }
  - if @activity_types_pages.page_count > 1
    %div.pagination
      = pagination_links_remote @activity_types_pages