- title((I18n.t("Editing {{value}}", :default => "Editing {{value}}", :value => current_controller_gettext_human_name)))
= error_messages_for :activity_type  
.standard_box
  .hako
    - form_for @activity_type, :url => activity_type_path, :html => { :method => :put, :class => "hakozaki", :autocomplete => :off } do |form|     
      = render :partial => "common/actions/for_form_edit"
      %h1= yield(:title)
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "common/actions/for_form_edit"
