- title((I18n.t(current_controller_gettext_human_name_pluralized, :default => current_controller_gettext_human_name_pluralized)))
.standard_box
  .hako
    = render :partial => "common/actions/for_form_index"
    %h2= yield(:title)
    %h3= context_help(I18n.t("Activities are interactions with contacts that you want to record and track. RubyCampus has several reserved activity types, e.g., emails, text messages, meetings and phone calls. Create new 'activity types' to record and track additional activities.", :default => "Activities are interactions with contacts that you want to record and track. RubyCampus has several reserved activity types, e.g., emails, text messages, meetings and phone calls. Create new 'activity types' to record and track additional activities."))
    %p
      %form{ :name => "rubycampus", :action => "", :class => "hakozaki", :autocomplete => :off }
        %label{ :for => "activity_type_name", :class => "w35 inputselect"}
          %span.wrapper
            %span.title= I18n.t("Filter on {{value}} name:", :default => "Filter on {{value}} name:", :value => current_controller_gettext_human_name)
            = text_field_tag("query", params['query'], :class => "field") 
        .clear  
    = observe_field 'query', :frequency => 2, :update => 'table', :before => "Element.show('spinner')", :success => "Element.hide('spinner')", :url => { :action => 'index' }, :with => 'query'   
    %div#table
      = render :partial => "activity_types"
    = render :partial => "common/actions/for_form_index"  