- title((_(current_controller_gettext_human_name_pluralized)))
-# for character in @characters    
  =# link_to character.char, :action => "index", :search => "#{character.char}"
.contact_box
  = render :partial => "contacts/actions/for_form_index"
  %h2= yield(:title) 
  %ul#standard_tabs
    %li= link_to _("Individuals"), contacts_path(:contact_type => INDIVIDUAL)
    %li= link_to _("Households"), contacts_path(:contact_type => HOUSEHOLD)
    %li= link_to _("Organizations"), contacts_path(:contact_type => ORGANIZATION)
  %table
    %tr
      %th.small= _("Name")  
      %th.small= _("Stage")
      %th.small= _("Address")
      %th.small= _("Phone")
      %th.small= _("Last Updated") 
      %th= render :partial => "common/search"    
    = render :partial => 'contact', :collection => @contacts
  %div.pagination= will_paginate @contacts