- title((I18n.t(current_controller_gettext_human_name_pluralized, :default => current_controller_gettext_human_name_pluralized)))
-# for character in @characters    
  =# link_to character.char, :action => "index", :search => "#{character.char}"
.contact_box
  = render :partial => "contacts/actions/for_form_index"
  %ul#standard_tabs
    - for contact_type in ContactType.all_active
      = content_tag(:li, (link_to contact_type.name.titleize, contacts_path(:contact_type => contact_type.id), :style => ("background:#fdffcc;" unless contact_type.id != params[:contact_type].to_i)))
  - if current_contact_type_is(ContactType::INDIVIDUAL.id)
    %ul#standard_tabs
      - for stage in Stage.all_active
        = content_tag(:li, (link_to stage.name.titleize, contacts_path(:contact_type => ContactType::INDIVIDUAL.id, :stage => stage.id), :style => ("background:#fdffcc;" unless stage.id != params[:stage].to_i)))
  %hr/
  %table
    %tr
      %th.small= I18n.t("Name", :default => "Name")
      = content_tag(:th, I18n.t("Entry Term", :default => "Entry Term"), :class => "small" ) unless params[:contact_type].to_i != ContactType::INDIVIDUAL.id  
      = content_tag(:th, I18n.t("Program", :default => "Program"), :class => "small" ) unless params[:contact_type].to_i != ContactType::INDIVIDUAL.id
      %th.small= I18n.t("Contact", :default => "Contact")
      %th.small= I18n.t("Last Updated", :default => "Last Updated") 
      %th    
    = render :partial => 'contact', :collection => @contacts
  %div.pagination= will_paginate @contacts