- title(_("Forgot Password"),"login") 
.span-12.push-6
  .login_box
    .hako
      - form_tag url_for(:action => 'create'), { :class => "hakozaki", :autocomplete => :off } do
        %h1= yield(:title) 
        %label{ :for => "email", :class => "w100 inputselect mandatory" }
          %span.wrapper
            %span.title= _("Email Address")
          = text_field_tag :email, nil, {:class => "field"}
        .clear
        .clear
        .buttons
          %button{:type => "submit", :class => ""}
            = _('Reset Password')
        = link_to _('Back to Login'), login_path