- title((_("Creating %s") % current_controller_gettext_human_name))
= error_messages_for :ethnicity 
.standard_box
  .hako
    - form_for @ethnicity, :url => ethnicities_path, :html => { :method => :post, :class => "hakozaki" } do |form|
      = render :partial => "common/actions/for_form_new"  
      %h1= yield(:title)
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "common/actions/for_form_new"   