- title((_(current_controller_gettext_human_name_pluralized)))
.standard_box
  .hako
    %h2= _("Roles for %{login}") % {:login => @user.login.capitalize}
    %h3= context_help(_("Use roles to enable access to specific RubyCampus features. %{learn_more}"))
    %h3= _("Roles Assigned")
    %ul= render :partial => 'role', :collection => @user.roles
    %h3= _("Roles Available")
    %ul= render :partial => 'role', :collection => (@all_roles - @user.roles)
