%h2= _("Contact Information")
%label{:for => "contact_organization_name", :class => "w25 inputselect mandatory"}
  %span.wrapper
    %span.title= _("Organization Name")
    = form.text_field :contact_organization_name, :class => "field"  
%label{:for => "contact_legal_name", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Legal Name")
    = form.text_field :contact_legal_name, :class => "field" 
%label{:for => "contact_sic_code", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("SIC Code")
    = form.text_field :contact_sic_code, :class => "field"  
.clear 

%label{:for => "contact_source_id", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Source")
    = text_field_with_auto_complete :organization_presenter, :contact_source_name, { :class => "field" }, { :url => formatted_lookup_sources_path(:js), :method => :get, :skip_style => true, :with => "'search=' + element.value" }
%label{:for => "contact_homepage_url", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Homepage url")
    = form.text_field :contact_homepage_url, :class => "field"   
%label{:for => "contact_nick_name", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Nick Name")
    = form.text_field :contact_nick_name, :class => "field" 
.clear

%label{:for => "contact_external_identifier", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("External Identifier")
    = form.text_field :contact_external_identifier, :class => "field"   
%label{:for => "contact_legal_identifier", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= _("Legal Identifier")
    = form.text_field :contact_legal_identifier, :class => "field"
.clear

%hr/