= render :partial => "contact", :locals => {:form => form}
= render :partial => "contacts/address", :locals => {:form => form}
= render :partial => "contacts/communication_preferences", :locals => {:form => form}
= render :partial => "contacts/phone", :locals => {:form => form}
= render :partial => "contacts/email", :locals => {:form => form}
= render :partial => "contacts/messenger", :locals => {:form => form}
= render :partial => "contacts/group", :locals => {:form => form}