%tr
  %td[organization]
    = h organization.organization_name
  %td
    = h organization.updated_at
  %td
    = h organization.updated_at   
  %td
    = link_to _("Show"), organization_path(organization)
    |
    = link_to _("Edit"), edit_organization_path(organization)
    |
    = link_to _("Destroy"), organization_path(organization), :confirm => _("Really destroy Organization?"), :method => :delete
