- title((_("Creating %s") % _("Organization")))
= error_messages_for :presenter 
.organization_box      
  .hako      
    - form_for @presenter, :url => organizations_url, :html => { :method => :post, :class => "hakozaki" } do |form|
      = render :partial => "contacts/actions/for_form_new"
      %h1= yield(:title) 
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "contacts/actions/for_form_new"