- title((I18n.t("Viewing {{value}}", :default => "Viewing {{value}}", :value => current_controller_human_name)))
- @organization = @presenter
.organization_box
  .hako
    - form_for :presenter, :url => organization_path, :html => { :method => :put, :class => "hakozaki", :id => @form_id } do |form|
      = render :partial => "contacts/actions/for_form_show"
      %h1= "#{@organization.contact_organization_name}" 
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "contacts/actions/for_form_show"
      = form.show_readonly :options => { :disable => "true" }        