- title((_("Viewing %s") % current_controller_human_name))
- @organization = @presenter
.organization_box
  .hako
    - form_for :presenter, :url => organization_path, :html => { :method => :put, :class => "hakozaki" } do |form|
      = render :partial => "contacts/actions/for_form_show"
      %h1= "#{@organization.contact_organization_name}" 
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "contacts/actions/for_form_show"