%label{:for => "activity_activity_type_id", :class => "w25 inputselect mandatory"}
  %span.wrapper
    %span.title
      = label_with_lookup :controller => :activity_type 
      = text_field_with_auto_complete :activity, :activity_type_name, { :class => "field" }, { :url => formatted_lookup_activity_types_path(:js), :method => :get, :skip_style => true, :with => "'search=' + element.value" }
- unless controller.action_name == "edit"     
  %label{:for => "activity_contact_id", :class => "w25 inputselect mandatory"}
    %span.wrapper
      = label_with_lookup :controller => :contact 
      = text_field_with_auto_complete :activity, :contact_name, { :class => "field" }, { :url => formatted_lookup_contacts_path(:js), :method => :get, :skip_style => true, :with => "'search=' + element.value" }
%label{:for => "activity_status_id", :class => "w25 inputselect mandatory"}
  %span.wrapper
    = label_with_lookup :controller => :status 
    = text_field_with_auto_complete :activity, :status_name, { :class => "field" }, { :url => formatted_lookup_statuses_path(:js), :method => :get, :skip_style => true, :with => "'search=' + element.value" }
%label{:for => "activity_location", :class => "w25 inputselect"}
  %span.wrapper
    %span.title
      = _("Location")
    = form.text_field :location, :class => "field"
.clear

%label{:for => "activity_subject", :class => "w100 inputselect mandatory"}
  %span.wrapper
    %span.title
      = _("Subject")
    = form.text_field :subject, :class => "field"
.clear
%label{:for => "activity_details", :class => "w100 inputselect"}
  %span.wrapper
    %span.title
      = _("Details")
    = form.text_area :details, :class => "field"
.clear

%label{:for => "activity_starts_at", :class => "w25 inputselect"}
  %span.wrapper
    %span.title
      = _("Starts At")
    = form.calendar_date_select :starts_at, :valid_date_check => "date >= (new Date()).stripTime()", :popup => :force, :class => "field"
%label{:for => "activity_ends_at", :class => "w25 inputselect"}
  %span.wrapper
    %span.title
      = _("Ends At")
    = form.calendar_date_select :ends_at, :valid_date_check => "date >= (new Date()).stripTime()", :popup => :force, :class => "field"
.clear
