- title((_("Editing %s") % current_controller_gettext_human_name))
= error_messages_for :activity
.standard_box
  .hako
    - form_for @activity, :url => activity_path, :html => { :method => :put, :class => "hakozaki" } do |form|
      = render :partial => "common/actions/for_form_edit"
      %h1= form_title
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "common/actions/for_form_edit"