- title((_(current_controller_gettext_human_name_pluralized)))
.standard_box
  = render :partial => "common/actions/for_form_index"
  %h2= yield(:title)
  %table
    %tr
      %th.small= _("Activity")
      %th.small= _("Subject")
      %th.small= _("Contact")
      %th.small= _("Starts At")
      %th.small= _("End At")
      %th.small= _("Status")
      %th
    = render :partial => "activity", :collection => @activities  
  = render :partial => "common/actions/for_form_index"
  %div.pagination= will_paginate @activities
  