- title((_(current_controller_gettext_human_name_pluralized)))
.standard_box
  = render :partial => "common/actions/for_form_index"
  %h2= yield(:title)
  %table
    %tr
      %th= _("Activity Type")
      %th= _("Subject")
      %th= _("Contact")
      %th= _("Starts At")
      %th= _("End At")
      %th= _("Status")
      %th= render :partial => "common/search"
    = render :partial => "activity", :collection => @activities  
  = render :partial => "common/actions/for_form_index"
  %div.pagination= will_paginate @activities
  