!!! 1.1
%html
  %head
    %title
      = h(Setting.site_name + " - " + (yield(:title) || Setting.site_title_default))
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %meta{ :name => "description", :content => Rubycampus::Info::name }/
    %meta{ :name => "keywords", :content => Rubycampus::Info::keywords }/
    = stylesheet_link_tag 'rubycampus/screen', :media => 'screen, projection'
    = stylesheet_link_tag 'rubycampus/print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'rubycampus/ie', :rel => 'stylesheet', :media => 'screen, projection'
    = javascript_include_tag :defaults
    = calendar_date_select_includes Setting.domain_gui_calender_theme
  %body{ :class => body_tag_classes.join(' ') }
    = render :partial => "layouts/announcement"
    %div{:class => "container%s" % (' showgrid' if SHOWGRID == true)}
      .span-11{:style => "text-align:left;"}
        = link_to image_tag("rubycampus/logo.png"), home_path
      .span-13.last
        %h4{:style => "text-align:right;"}
          - if logged_in?
            = _("Welcome %{current_user}") % {:current_user => content_tag(:strong,(link_to h(current_user.login.titlecase), user_path(current_user)))}
            |
            = link_to _('Profile'), edit_user_path(current_user)
            = link_to _("Administer"), administers_path if current_user_is_super_user_role
            = link_to _('Logout'), logout_path
            = link_to_help
        = render :partial => "layouts/search" if logged_in?
      %hr/
      = render :partial => "layouts/flash_message"
      - if logged_in?
        .span-4#sidebar
          = display_sidebar
        .span-20.last#content{:style => "background-color:#fcfcfc;border-style:solid;"}
          = yield
      - else
        = yield
      .span-24#footer{:style => "text-align: center;"}
        = Rubycampus::Info::impressum
  #spinner{ :style => "display:none;" }
    %span= _("RubyCampus Working...")