!!!
%html{ :lang => "en" }
  %head
    %title
      = Setting.site_name + " - " + (yield(:title) || Setting.site_title_default)
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %meta{ :name => "description", :content => Rubycampus::Info::name }/
    %meta{ :name => "keywords", :content => Rubycampus::Info::keywords }/
    = stylesheet_link_tag 'rubycampus/screen', :media => 'screen, projection'
    = stylesheet_link_tag 'rubycampus/print', :media => 'print'
    = javascript_include_tag :defaults
  %body{ :class => body_tag_classes.join(' ') }
    = yield
    = render :partial => "layouts/flash_message"
    .footer
      = Rubycampus::Info::impressum