%h2= I18n.t("Contact Information", :default => "Contact Information")
%label{:for => "contact_household_name", :class => "w25 inputselect mandatory"}
  %span.wrapper
    %span.title= I18n.t("Household Name", :default => "Household Name")
    = form.text_field :contact_household_name, :class => "field"
%label{:for => "contact_nick_name", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= I18n.t("Nick Name", :default => "Nick Name")
    = form.text_field :contact_nick_name, :class => "field"   
%label{:for => "contact_source_id", :class => "w25 inputselect"}
  %span.wrapper
    = label_with_lookup :controller => :source 
    = text_field_with_auto_complete :presenter, :contact_source_name, { :class => "field" }, { :url => formatted_lookup_sources_path(:js), :method => :get, :skip_style => true, :with => "'search=' + element.value" }
%label{:for => "contact_external_identifier", :class => "w25 inputselect"}
  %span.wrapper
    %span.title= I18n.t("External Identifier", :default => "External Identifier")
    = form.text_field :contact_external_identifier, :class => "field"
.clear        

%hr/

