%tr
  %td[household]
    = h household.household_name
  %td
    = h household.created_at
  %td
    = h household.updated_at   
  %td
    = link_to _("Show"), household_path(household)
    |
    = link_to _("Edit"), edit_household_path(household)
    |
    = link_to _("Destroy"), household_path(household), :confirm => _("Really destroy Household?"), :method => :delete
