- title((_("Editing %s") % _("Household")))
= error_messages_for :presenter
.household_box 
  .hako
    - form_for :presenter, :url => household_path, :html => { :method => :put, :class => "hakozaki" } do |form|
      = render :partial => "contacts/actions/for_form_edit"
      %h1= yield(:title) 
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "contacts/actions/for_form_edit"            
