- title((_("Creating %s") % _("Household")))
= error_messages_for :presenter  
.household_box
  .hako 
    - form_for :presenter, :url => households_path, :html => { :method => :post, :class => "hakozaki" } do |form|
      = render :partial => "contacts/actions/for_form_new"
      %h1= yield(:title)     
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "contacts/actions/for_form_new"         
