- title((I18n.t("Creating {{value}}", :default => "Creating {{value}}", :value => I18n.t("Household", :default => "Household"))))
= error_messages_for :presenter  
.household_box
  .hako 
    - form_for :presenter, :url => households_path, :html => { :method => :post, :class => "hakozaki", :autocomplete => :off } do |form|
      = render :partial => "contacts/actions/for_form_new"
      %h1= yield(:title)     
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "contacts/actions/for_form_new"         
