- title((_("Viewing %s") % current_controller_human_name))
- @household = @presenter
.household_box
  .hako
    - form_for :presenter, :url => household_path, :html => { :method => :put, :class => "hakozaki" } do |form|
      = render :partial => "contacts/actions/for_form_show"
      %h1= "#{@household.contact_household_name}"
      %hr/
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "contacts/actions/for_form_show"            
